# syslinux.cfg -- bootloader para BIOS/legacy boot.
# Splash: assets/lumo-splash-syslinux.png (640x480, 16-color PNG)

DEFAULT lumo
TIMEOUT 50
PROMPT 0

UI vesamenu.c32
MENU TITLE  Lumo OS
MENU BACKGROUND /lumo/boot/syslinux/lumo-splash.png
MENU COLOR border       30;44   #40000000 #00000000 std
MENU COLOR title        1;36;44 #ffffffff #00000000 std
MENU COLOR sel          7;37;40 #e0ffffff #20ffffff all
MENU COLOR unsel        37;44   #90ffffff #00000000 std
MENU COLOR help         37;40   #c0ffffff #a0000000 std
MENU COLOR timeout_msg  37;40   #a0ffffff #00000000 std
MENU COLOR timeout      1;37;40 #c0ffffff #00000000 std
MENU COLOR cmdmark      1;36;40 #c000ffff #00000000 std
MENU COLOR cmdline      37;40   #c0ffffff #00000000 std

LABEL lumo
    MENU LABEL Lumo OS (instalacao)
    LINUX /lumo/boot/vmlinuz-linux
    APPEND archisobasedir=/lumo archisolabel=%ARCHISO_LABEL% quiet splash loglevel=3 systemd.show_status=auto rd.udev.log_level=3
    INITRD /lumo/boot/intel-ucode.img,/lumo/boot/initramfs-linux.img

LABEL lumo-fallback
    MENU LABEL Lumo OS (fallback initramfs)
    LINUX /lumo/boot/vmlinuz-linux
    APPEND archisobasedir=/lumo archisolabel=%ARCHISO_LABEL% quiet loglevel=3
    INITRD /lumo/boot/intel-ucode.img,/lumo/boot/initramfs-linux-fallback.img

LABEL shell
    MENU LABEL Shell de recuperacao
    LINUX /lumo/boot/vmlinuz-linux
    APPEND archisobasedir=/lumo archisolabel=%ARCHISO_LABEL% break
    INITRD /lumo/boot/intel-ucode.img,/lumo/boot/initramfs-linux.img
